input-width=100%
input-height=40px
input-font-size=0.9em

lighter-blue=#e6f6fe
lighter-grey=#f2f2f2
light-grey=#d8d8d8
green=#00b771
light-green=#009d61

html
  font-size 14px
  line-height 1.4
  color #454545

*, *::after, *::before
  box-sizing border-box

.Form
  width 600px
  margin 0 auto
  background lighter-grey
  border 1px solid light-grey
  font-family sans-serif
  border-radius 5px

form, fieldset
  border none
  padding 0
  margin 0

.FormPage
  padding 25px
  padding-left 50px
  padding-right 50px

.FormPage-item
  margin-bottom 20px

.FormPage-itemLabel
  font-weight bold
  display block
  margin-bottom 5px


.FormPage-container
  list-style-type none
  padding 0
  margin 0

.EnumerableCheckbox-list
  list-style-type none
  padding 0
  margin 0

.EnumerableCheckbox-item
  position relative
  overflow hidden
  height input-height
  line-height @height
  border 1px solid #d8d8d8
  border-bottom none
  &:first-child
    border-top-left-radius 3px
    border-top-right-radius 3px
  &:last-child
    border-bottom 1px solid #ccc
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

.EnumerableCheckbox-input
  position absolute
  top 50%
  left 10px
  margin-top -5px

.EnumerableCheckbox-label
  background white
  display block
  padding-left 40px
  height 100%
  cursor pointer
  &:hover
    background linear-gradient(lighter-grey,darken(lighter-grey,2%))

.EnumerableCheckbox-input:checked+.EnumerableCheckbox-label
  font-weight bold
  background lighter-blue
  box-shadow inset 0px 1px white
  &:hover
    background linear-gradient(lighter-blue,darken(lighter-blue,8%))

.RequiredWarning
  color red
  font-weight bold
  font-size 0.8em
  display none
.RequiredWarning--visible
  display block

.Textfield
  border 1px solid light-grey
  border-radius 5px
  font-size input-font-size
  width input-width
  height input-height
  line-height @height
  vertical-align middle
  text-indent 5px

.Textarea
  font-family sans-serif
  line-height 1
  padding-top 10px
  padding-bottom 10px
  padding-left 5px
  padding-right 5px
  height ( input-height * 2 )

.EnumerableSelect
  border 1px solid light-grey 
  height input-height
  width input-width
  font-size input-font-size

.FormButton 
  cursor pointer
  text-shadow 0px 1px 1px rgba(0,0,0,0.3)
  float right
  height 42px
  line-height @height
  vertical-align middle
  border-radius 10000px
  background grey
  border none
  color white
  font-weight bold
  font-size 1rem
  padding 0
  padding-left 30px
  padding-right 30px
  min-width 200px
  text-align center
  &:hover
    background green 
    text-shadow none

.FormButton--confirm
  background light-green 

.FormPage-info
  background #fafafa
  border-bottom 1px solid light-grey
  margin-top -25px
  margin-left -50px
  margin-right -50px
  border-top-right-radius 5px
  border-top-left-radius 5px
  padding-top 10px
  padding-bottom 10px
  padding-left 50px
  padding-right 50px
  margin-bottom 25px
